.custom-form .group input:-webkit-autofill,
.custom-form .group input:-webkit-autofill:hover,
.custom-form .group input:-webkit-autofill:focus,
.custom-form .group input:-webkit-autofill:active {
    -webkit-text-fill-color: rgb(0, 0, 0) !important;
    -webkit-background-clip: text !important;
    background-clip: text !important;
    transition: background-color 9999s ease-in-out 0s;
}

.custom-form .group {
    position: relative;
    border-radius: 50px;
    border: 1px solid #BDBDBD;
    max-width: 450px;
    height: 40px;
    margin-bottom: 24px;
}

.custom-form .group .floating-label {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 15px;
    color: #8F90A6;
    font-size: 16px;
    pointer-events: none;
    padding: 0px 5px;
    transition: 0.3s ease;
}

.custom-form .group input {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80%;
    color: rgb(255, 0, 157);
    background: transparent;
    outline: none;
    border: none;
    padding-left: 20px;
    border-radius: 50px;
    font-size: large;
    box-sizing: border-box;
}

.custom-form .group:has(input:focus) {
    border: 1px solid #2196f3;
}

.custom-form .group input:focus ~ .floating-label {
    color: #2196f3;
}

.custom-form .group input:focus ~ .floating-label,
.custom-form .group:has(input:not(:placeholder-shown)) .floating-label {
    top: 15px;
    left: 15px;
    font-size: 12px;
}

.custom-form .group.invalid {
    border: 1px solid red;
}

.custom-form .group.invalid .floating-label {
    color: rgb(250, 0, 0);
}

.custom-form .error {
    position: absolute;
    bottom: -20px;
    display: none;
    color: red;
    font-size: 0.75rem;
    padding-inline: 5px;
}

@media (max-width: 460px) {
    .custom-form .group {
        height: 40px;
        border-radius: 30px;
        max-width: 100%;
        width: 100%;
    }

    .custom-form .group .floating-label {
        font-size: 14px;
        top: 50%;
        left: 12px;
    }

    .custom-form .group input {
        padding-left: 15px;
        font-size: small;
    }

    .custom-form .group input:focus ~ .floating-label,
    .custom-form .group:has(input:not(:placeholder-shown)) .floating-label {
        top: 10px;
        font-size: 10px;
    }

    
}

@media (min-width: 461px) and (max-width: 768.98px) {
    .custom-form .group {
        height: 40px;
        border-radius: 40px;
       max-width: 100%;
        width: 100%;
    }

    .custom-form .group .floating-label {
        font-size: 12px;
        top: 50%;
    }

    .custom-form .group input {
        padding-left: 18px;
        font-size:.9em;
    }

    .custom-form .group input:focus ~ .floating-label,
    .custom-form .group:has(input:not(:placeholder-shown)) .floating-label {
        top: 8px;
        font-size: 10px;
    }
}

@media (min-width: 769px) {
    .custom-form .group {
        height: 48px;
        border-radius: 50px;
        max-width: 450px;
    }

    .custom-form .group .floating-label {
        font-size: 16px;
        top: 50%;
    }

    .custom-form .group input {
        font-size: 1em;
        padding-left: 20px;
    }

    .custom-form .group input:focus ~ .floating-label,
    .custom-form .group:has(input:not(:placeholder-shown)) .floating-label {
        top: 10px;
        font-size: 12px;
    }
}

/* الجزء الاول تم */


